body {
	margin: 0;
	font-family: 'Groboldov', Arial, sans-serif;
	overflow-x: hidden;
}

@font-face {
font-family: "Groboldov";
src: url("../fonts/Groboldov.ttf") format("ttf")
}

a {
	text-decoration: none!important;
	color: #fff!important;
}

ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

#pageContainer {
	background-color: #F5F5F5;
	min-height: 100vh;
	display: block;
}

#topNav {
	background-color: #333;
	display: block;
	height: 80px;
	min-width: 100%;
	font-size: 20px;
	padding: 0 360px;
	align-items: center;
}

.navContainer {
	display: flex;
	height: 80px;
	align-items: center;
	margin: 0 auto;
    max-width: 1280px;
    flex-flow: row;
    box-sizing: border-box;
}

.homeNav {
	padding: 0 20px;
}

.cardsNav {
	padding: 0 20px;
}

.arenasNav {
	padding: 0 20px;
}

.guidesNav {
	padding: 0 20px;
}

.langNav {
	padding: 0 20px;
    line-height: normal;
    color: #fff;
    background-size: cover;
}

#mainContainer {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    padding: 0 20px;
}